{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CV</title>


<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/animate/animate.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/animsition/css/animsition.min.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/select2/select2.min.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/util.css" rel="stylesheet" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/form.css" rel="stylesheet" %}">
<!--===============================================================================================-->
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static "assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" %}">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static "assets/css/one-page-wonder.css" rel="stylesheet" %}">
<link rel="shortcut icon" type="image/png" href="{% static 'assets/img/fav.png' %}"/>
</head>



<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/#hello"><img class="img-fluid rounded-circle" src="{% static "assets/img/fav.png" %}" alt="" height="30" width="30"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#hello">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#bio">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#about_us">Our Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#join_us">Join Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- What we need -->

  <section id="hello">
  <header class="masthead text-center text-white">
    <div class="masthead-content">

      <div class="container">
        <h1 class="masthead-heading mb-0">Application Form for</h1>
        {% for job in jobs %}
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-1">
            <div class="row mt -5">
              <div class="card-block block-1">
              <h3 class="display-6 text-white">{{job.title}}</h3>
             </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>

    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  </section>

    <!-- form -->

    <section id="form">
    <div class="container">
	<div class="container-contact100 contact100-form validate-form text-white">
		<form method="post" action="/jobs/form/{{id}}">

            {% csrf_token %}
            {{ form | crispy }}
            <p>Disclaimer: CV collects and processes personal data in accordance with the EU General Data Protection Regulation (GDPR). We are bound to use the information provided within your job application for recruitment purposes only and not to share these with any third parties. We will keep you resume in our database for any future consideration. In case you want to be deleted from our database you can contact us at hr@cv.gr.</p>
          <center><button type="submit" class="btn btn-primary btn-xl rounded-pill mt-4 save btn btn-default">Save</button></center>

			</form>
		</div>
	</div>

</section>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Geoth</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- <script src="js/scroll.js"></script> -->
</body>

</html>
